<div class="contents row">
  <div class="note">
  <div class="line">
    <div class="edit-item">
      <% if current_user == nil || (current_user.id != @article.user_id.to_i) %>
      <% elsif %>
        <%= link_to '編集', edit_article_path(@article.id), method: :get %>
        <%= link_to '削除', article_path(@article.id), method: :delete %>
      <% end %>
    </div>
    <h1 class="article-title"><%= @article.title %></h1>
    <% if @article.tags.exists? %>
      <span class="tags-show">
        <% @article.tags.each do |tag| %>
          <%= link_to "#{tag.tag_name}", tag_search_path(tag.id) %>
        <% end %>
      </span>
    <% else %>
      <br/>
    <% end %>
    <div class="output"><%= @article.output %></div>
    <div class="action">
      <div class="habit-statement">習慣化すること</div>
      <%= @article.action %>
    </div>
    <p></p>
  </div>
  </div>
</div>
