<h1 class="tag-search-result"><%= "#{@tag.tag_name}"+"のついた記事一覧" %></h1>
<div class="contents row">
  <% @articles.each do |article| %>

    <div class="content_post" >
      <div class="post_user">
        <%= user = article.user.nickname %>さんの投稿(<%= article.updated_at.strftime('20%y/%m/%d') %>)
      </div>
      <div class="title"><%= link_to "#{article.title}", article_path(article.id), method: :get %></div>
      <div class="tags">
        <% article.tags.each do |tag| %>
          <%= link_to "#{tag.tag_name}", tag_search_path(tag.id) %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>