<h1>Users#show</h1>

<div class="whole">
  <div class="calender">
    <%= month_calendar do |date| %>
      <%= link_to "#{date}", users_new_path  %>
    <% end %>
  </div>
  <div class="habit-list">
    <% @articles.each do |article| %>
    <div class="action">
      <%= "#{article.action}" unless article.action.nil? %>
    </div>
    <% end %>
  </div>

  <div class="achieve">
    <div >right</div>
    <% @articles.each do |article| %>
      <div class="my-article" >
        <p><%= link_to "#{article.title}", article_path(article.id), method: :get %></p>
        <span class="name">
          <%= article.output%>
        </span>
      </div>
    <% end %>
  </div>
</div>
<p>My Page<%= current_user.id %></p>

<p>Find me in app/views/users/show.html.erb</p>
